<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">HackerNewsinator</a>
      <form class="form-inline">
        <input id="searchBox" class="form-control mr-sm-1" #box type="search" placeholder="Search" aria-label="Search" (input)="searchChanged(box.value)">
        <button id="searchButton" class="btn btn-outline-success" type="submit" (click)="search(box.value)">Search</button>
      </form>
      <div class="d-sm-inline-flex justify-content-end">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Articles</a>
          </li>
          <li class="nav-item"
              [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/about']">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
